*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

target/

*.iml
*.iws
*.ipr
.idea/

.gradle/

build/

# ignore "out" directories from root to subprojects (e.g. /apps/test-classes/out/)
/out/
/*/out/
/*/*/out/

.DS_Store

*.swp
release.properties

